<?xml version="1.0" ?>
<xsl:stylesheet version="1.0"
                xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
 <xsl:output omit-xml-declaration="yes" indent="yes"/>
 <!-- Identity transform -->
   <xsl:template match="@* | node()">
      <xsl:copy>
         <xsl:apply-templates select="@* | node()"/>
      </xsl:copy>
   </xsl:template>
  <xsl:template match="/network/ip/dhcp/range">
       <xsl:copy-of select="."/>
       <bootp file="{{ matchbox_http_endpoint | default('http://matchbox.example.com:8080') }}/boot.ipxe" />
  </xsl:template>

</xsl:stylesheet>

