apiVersion: v1
baseDomain: {{ network_domain }}
compute:
- name: worker
  replicas: {{ worker_nodes }}
controlPlane:
  name: master
  replicas: {{ master_nodes }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
networkType: OpenShiftSDN
serviceNetwork:
- 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_public_key }}'

